.uk-section.uk-flex.uk-flex-middle.uk-animation-fade{"uk-animation-fade" => "", "uk-height-viewport" => ""}
  .uk-container
    .uk-card.uk-card-default.uk-card-small.uk-card-body.uk-border-rounded.uk-width-large
      = link_to "#",class: 'twitter' do
        .sns-sign-up_item_btn.twitter_btn
          twitterでアカウント登録
      = link_to "#",class: 'github' do
        .sns-sign-up_item_btn.github_btn
          githubでアカウント登録
      .sign_up_or
        OR
      = form_with(model: @user, local: true) do |f|
        .uk-margin
          = f.label :ニックネーム, class: 'form-label'
          .uk-form-controls
          = f.text_field :nickname, class: 'form-control'
        .uk-margin
          = f.label :Eメール,class: 'form-label'
          .uk-form-controls
          = f.email_field :email, class: 'form-control'
        .uk-margin
          = f.label :パスワード, class: 'form-label'
          .uk-form-controls
          = f.password_field :password, class: 'form-control'
        .uk-margin-top.uk-text-center.uk-margin-small-bottom
          = f.submit "ユーザー登録", class: 'uk-button uk-button-primary uk-text-bold uk-border-rounded'