- set_meta_tags title: '新規登録ページ', description: "プロつく！はプログラミング仲間が欲しい人同士をマッチングさせるサービスです。このページはプロつく！の無料会員登録ページです。"

.uk-section.uk-flex.uk-flex-middle
  .signup_or_login_form
    %h2.uk-text-bold.uk-text-center.uk-margin SIGN UP
    = link_to "/auth/twitter", class: 'twitter' do
      .sns-sign-up_item_btn.twitter_btn
        twitterでアカウント登録
    -# = link_to "#",class: 'github' do
    -#   .sns-sign-up_item_btn.github_btn
    -#     githubでアカウント登録
    .sign_up_or
      OR
    = form_with(model: @user, local: true) do |f|
      = render 'layouts/error_messages', model: f.object
      .uk-margin
        = f.label :ニックネーム, class: 'form-label'
        .uk-form-controls
        = f.text_field :nickname, placeholder: '30文字以内', class: 'form-control'
      .uk-margin
        = f.label :Eメール,class: 'form-label'
        .uk-form-controls
        = f.email_field :email, class: 'form-control'
      .uk-margin
        = f.label :パスワード, class: 'form-label'
        .uk-form-controls
        = f.password_field :password, placeholder: '6文字以上の半角英数', class: 'form-control'
      .uk-margin-small
        %p
          = f.check_box :accepted , {}, checked_value = "true", unchecked_value = "false"
          = link_to '利用規約', page_path('terms')
          と
          = link_to 'プライバシーポリシー', page_path('privacy')
          に同意する。
      .uk-margin-top.uk-text-center.uk-margin-small-bottom
        = f.submit "ユーザー登録", class: 'uk-button uk-button-primary uk-text-bold uk-border-rounded'
