= @user.nickname
= link_to  "メッセージ一覧", rooms_index_path
- unless @user.id == current_user.id
  - if @is_room == true
    = link_to 'メッセージ', room_path(@room_id), class: 'btn-sm btn-success'
  - else
    = form_with model: @room, url: rooms_path, local: true do |f|
      = fields_for @entry do |e|
        = e.hidden_field :user_id, value: @user.id
        = f.submit 'メッセージ', class: 'btn-sm btn-success'

.items
  %h3 出品履歴
  = render partial: 'items/item_index'
  - if @user.id == current_user.id
    .stocks
    %h3 保存した出品
    = render partial: 'stocks/stock'
    = link_to 'プロフィールを編集', edit_user_path(current_user)
