.main-wrapper
  %h1.heading-title.uk-text-normal
    プログラミングチームを作ろう。
    -# %br/
    -# = "　　チームをつくろう。"
  .main-contents
    .heading-discrption-main
      %p.uk-text-normal
        「プロつく！」はWEB開発やプログラミング仲間を探すためのオンラインマッチングプラットフォームです。
      %br/
      %br/
      .uk-text-center
        = link_to '今すぐ仲間を探す', signup_path, class: 'signup_btn_main'
    .programing_image_child
      = image_tag '/assets/child_programing_team.png', alt: '子供のプログラミングチーム', class: 'child_programing_image'
  %hr.hr
.uk-container.uk-container-center.uk-margin-large-bottom
  %h2.section-title.uk-text-center プロつくの特徴
  .contents-wrapper
    .content-wrapper
      .protuku_image_description
        = image_tag '/assets/free_lance.png', alt: '画像'
      %h3.heading-discrption-protuku
        実践的な開発を学べる
      %p.content-text
        プロつく！はチーム開発する仲間を募集することも可能です。
        もし、あなたがエンジニア転職を目指しているのなら、チーム開発の経験は必ず役に立ちます。
        バージョン管理ツールの使い方、開発手法など、チーム開発を通して現場で使うスキルを実践的に学ぶことができます。
    .content-wrapper
      .protuku_image_description
        = image_tag '/assets/momotaro.png', alt: '画像'
      %h3.heading-discrption-protuku
        起業仲間を見つけられる
      %p.content-text
        自分がつくりたいサービスのコンセプトや使用技術を明確にすれば、それに共感できる仲間をピンポイントで集めることができます。
        自分の手で最強のプログラミングチームを作ることができます。
    .content-wrapper
      .protuku_image_description
        = image_tag '/assets/programing_cat.png', alt: '画像'
      %h3.heading-discrption-protuku
        最高の学習環境を作れる
      %p.content-text
        人間の意思は本当に弱いです。一人でのプログラミング学習はモチベーションが続きません。
        仲間と共に励まし合いながら頑張ることで、挫折しにくく、成長しやすい環境を作ることができます。
.content-background
  .article-container
    %h2.section-title 最近の募集
    .article-wrapper
      - @items.each do |item|
        .article_items
          .recent-posts-box
            .recent-posts-image
              - if item.image.attached?
                = image_tag item.image, alt: '投稿画像', class: 'recent-post-image'
              - else
                = image_tag '/assets/noimage.png', alt: '投稿画像', class: 'recent-post-image'
            .recent-post-contents
              %p.recent-post-title
                = link_to item.title, item_path(item)
              .uk-flex
                .post_user_avatar_info
                  - if item.user.avatar.attached?
                    = image_tag item.user.avatar, alt: '投稿画像', class: 'uk-border-circle'
                  - else
                    = image_tag '/assets/noimage.png', alt: '投稿画像', class: 'uk-border-circle'
                .recent-post-info
                  %p.recent-post-user
                    = link_to item.user.nickname, user_path(item.user_id)
                  %p.uk-text-meta
                    = item.created_at
