%main.uk-margin-medium-bottom
  %section.uk-section-medium.uk-cover-background{:style => "background-image: url('/assets/carrepair.jpg');"}
    .uk-block.uk-block-large
      .uk-container.uk-container-center
        %h2.uk-heading-hero.uk-text-white.uk-margin-top タイトル
        %div{:class => "uk-child-width-expand@s", "uk-grid" => ""}
          .uk-text-white
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .uk-card.uk-card-default.uk-card-small.uk-card-body.uk-border-rounded.uk-width-large.uk-margin-large-left.uk-margin-large-bottom
            = form_with(model: @user, local: true) do |f|
              .uk-width-1-1
                .uk-container
                  %div{:class => "uk-width-1-1@m"}
                    %h3.uk-card-title.uk-text-center 無料登録
                    .uk-margin
                      = f.label :username,class: 'uk-text-bolder'
                      .uk-form-controls
                      = f.text_field :nickname, class: 'uk-input'
                    .uk-margin
                      .uk-form-controls
                      = f.label :email,class: 'uk-text-bolder'
                      = f.email_field :email, class: 'uk-input'
                    .uk-margin
                      .uk-form-controls
                      = f.label :password,class: 'uk-text-bolder'
                      = f.password_field :password, class: 'uk-input'
                    .uk-margin.uk-text-center
                      = f.submit "ユーザー登録", class: 'uk-button uk-button-primary uk-botton-medium uk-border-rounded'

.uk-container.uk-container-center
  %h2.uk-heading-hero.uk-text-light.uk-text-center タイトル
  .uk-text-center{"uk-grid" => ""}
    - @items.each do |item|
      .uk-width-1-3.uk-text-left
        .uk-card.uk-card-default
          .uk-card-header.uk-padding-small
            .uk-grid-small.uk-flex-middle{"uk-grid" => ""}
              .uk-width-auto
                - if item.image.attached?
                  = image_tag item.image, alt: '投稿画像', size: '50x50', class: 'uk-border-circle'
                - else
                  = image_tag '/assets/noimage.png', alt: '投稿画像', size: '50x50', class: 'uk-border-circle'
              .uk-width-expand
                %h4.uk-margin-remove-bottom.uk-margin-remove-left
                  = link_to item.user.nickname, user_path(item.user_id)
                %p.uk-text-meta.uk-margin-remove-top
                  = item.created_at
          .uk-card-body.uk-padding-small
            %p.uk-text-bold
              = item.title