- @room.messages.each do |message|
  = link_to user_path(message.user) do
    = message.user.nickname
    \:
  = message.content
  %br/
= form_with model: @message, url: messages_path, local: true do |f|
  = f.text_field :content, class: 'form-control'
  = f.hidden_field :room_id, value: @room.id
  = f.submit '送信', class: 'btn btn-info btn-block'
