.uk-container
  .uk-section.uk-section-small
    %div{"uk-grid" => ""}
      %div{:class => "uk-width-1-4@m"}
        .uk-card.uk-card-default
          %ul
            %li.search_friend
              .uk-input.uk-form-width-medium
            %li.search_friend_by_categorize
              カテゴリで探す
              .uk-flex-column
                .uk-flex
                  %ul
                    %li
                      カテゴリ1
                    %li
                      カテゴリ２
                    %li
                      カテゴリ３
                    %li
                      カテゴリ４
                    %li
                      カテゴリ５
      %div{:class => "uk-width-expand@m"}
        %h2 仲間を探す
        - @items.each do |item|
          .uk-card.uk-card-small.uk-card-default.uk-card-body.uk-margin-bottom
            .uk-flex
              %div
                = image_tag '/assets/noimage.png', alt: 'プロフィール画像', size: '120x120', class: 'uk-border-circle'
              .uk-panel
                %ul
                  %p.post_user_nickname
                    = link_to item.user.nickname, user_path(item.user_id)
                  %p.post_user_title
                    = link_to item.title, item_path(item)
                  %p
                    = item.region
              - if item.image.attached?
                .uk-panel.uk-vertical-align
                  = image_tag item.image, alt: '投稿画像', size: '120x100',class: 'uk-vertical-align-middle'
