.uk-container
  .uk-section.uk-section-small
    %div{"uk-grid" => ""}
      %div{:class => "uk-width-1-4@m"}
        .uk-card.uk-card-default.uk-card-body.uk-card-small
          %ul
            %li.search_friend
              = form_with(url: items_path, method: :get , local: true) do |f|
                = f.label :検索ワードで探す, class: 'uk-text-bold uk-text-secondary'
                = f.text_field :search, placeholder: '投稿タイトル、本文で検索', class: 'uk-input uk-form-small'
            %li.search_friend_by_categorize
              .uk-text-secondary.uk-text-bold
                タグで探す
              %ul.uk-flex.uk-flex-wrap
                - @tag_lists.each do |list|
                  %li
                    = link_to list.tag_name, items_path(tag_id: list.id), class: 'tag_list'
      %div{:class => "uk-width-expand@m"}
        %h2.uk-text-bold 仲間を探す
        - @items.each do |item|
          .post_article_wrapper
            .user_avatar
              - if item.user.avatar.attached?
                = image_tag item.user.avatar, alt: 'プロフィール画像', class: 'uk-border-circle'
              - else
                = image_tag asset_path('noimage.png'), alt: 'プロフィール画像', class: 'uk-border-circle'
            .post_index_infobox
              .uk-flex.uk-flex-middle
                .user_avatar_hidden
                  - if item.user.avatar.attached?
                    = image_tag item.user.avatar, alt: 'プロフィール画像', class: 'uk-border-circle'
                  - else
                    = image_tag asset_path('noimage.png'), alt: 'プロフィール画像', class: 'uk-border-circle'
                %p.post_user_nickname
                  = link_to item.user.nickname, user_path(item.user_id)
              .post_title_and_tag_area
                %p.post_user_title
                  = link_to item.title, item_path(item)
                %p.tag_list_box
                  - item.tags.each do |tag|
                    = link_to "##{tag.tag_name}", items_path(tag), class: 'smaller tag_list'
              %hr
              %p.post_user_content_introduction
                = truncate(item.content,length: 127) do
                  = link_to '詳細を見る', item_path(item), class: 'more_detail'
              %p
                = item.prefecture.name
            - if item.image.attached?
              .post_user_avatar_area
                = image_tag item.image, alt: '投稿画像', class: 'post_image_index'
        -# 10件までページネーション
        .items_index_paginate
          = paginate @items, theme: 'my_custom_theme'
:javascript
  $("").addClass("");
