.uk-form.new_post_form
  = form_with(model: [@tag,@item], local: true) do |f|
    .uk-margin-small
      = f.text_field :title, placeholder: "タイトルを入力（35文字まで）", class: 'uk-input'
    .uk-margin-small
      = f.text_field :tag_name, placeholder: "プログラミング技術や募集要項に関するタグをスペース区切りで5つまで入力(例 Ruby Rails )", class: 'uk-input uk-form-small'
    .post_region
      = f.label :投稿者の所在地, class: 'uk-text-bold user_region'
      = f.select :region, [["非公開"],["東京"],["三重"],["静岡"],["愛知"]]
    .post_example
      = link_to '投稿例を見る', '#'
    .uk-flex.uk-margin-bottom
      -# .uk-form-row
      -#   = f.file_field :image
      .uk-width-2-1
        = f.text_area :content, placeholder: "投稿例を参考に、マークダウン記法を用いてわかりやすく具体的に書きましょう！（10000字まで）",id: "markdown_editor_textarea", class: 'uk-textarea', size: "94x20"
      .uk-width-2-1#markdown_preview
      -# .uk-form-row
      -#   = f.text_field :price, placeholder: "価格を入力"
    .uk-text-right.uk-margin-right
      = f.submit "投稿する", disable_with: '投稿中...', class: "uk-button uk-button-primary uk-border-rounded uk-text-bold"

:javascript
  $(function () {
    marked.setOptions({
      //改行をそのまま反映
      breaks: true,
      //codeタグ使用時にデフォルトでつくlangage- を削除
      langPrefix: '',
      //syntax highlight を追加
      highlight: function (code, lang) {
        return hljs.highlightAuto(code, [lang]).value
      }
    });

    $('#markdown_editor_textarea').keyup(function () {
      var html = marked($(this).val());
      $('#markdown_preview').html(html);
    });
  });
