%h2 出品詳細ページ

-#stockボタン
%div{:id => "item-#{@item.id}"}
  = render partial: 'stocks/stock_btn', locals: { item: @item }

  -# twitterシェア
= link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: 'blank' do
  = fa_icon 'twitter'