.uk-container.uk-container-center
  .uk-section.uk-section-small.uk-flex.uk-flex-between
    .sns-share_btn_sticky
      .sns-share_btn_twitter{"uk-sticky" => "offset: 70; bottom: #top"}
        = link_to "https://twitter.com/intent/tweet?url=#{request.url}/&hashtags=appname", title: 'Twitter', target: 'blank' do
          = fa_icon 'twitter'
    .uk-card.uk-card-default.uk-card-body.post_user_box
      .uk-card-title.uk-flex.uk-flex-between.uk-flex-middle
        .item_show_title.uk-text-bold
          = @item.title
        - if current_user.id == @item.user_id
          .edit_post_box
            %span.fa-edit
              = link_to '編集', edit_item_path(@item)
            %span.fa-trash
              = link_to '削除', item_path(@item), method: :delete, data: { confirm: "投稿内容はデータから完全に削除されます。本当に削除しますか？" }
      .uk-margin-small
        .post_user_info
          = image_tag '/assets/noimage.png', alt: 'プロフィール画像', size: '50x80', class: 'uk-border-circle'
          = link_to @item.user.nickname, user_path(@item.user),class:'uk-text-normal'
          = l @item.created_at, format: :short,class: 'uk-text-muted uk-text-normal'
        .post_user_content.uk-margin-small
          = @item.content
      -#stockボタン
      -# %div{:id => "item-#{@item.id}"}
      -#   = render partial: 'stocks/stock_btn', locals: { item: @item }
      -# = link_to 'カードで購入する', purchase_items_path(@item)
      -# %p
      -#   = link_to '投稿の編集', edit_item_path(@item)
      -# %p

    .uk-card.uk-card-small.uk-card-body.uk-card-default.uk-margin-small-right.post_user_info_sidebar.uk-text-center
      .uk-text-bolder.uk-text-secondary
        投稿者情報
      .user_image.uk-margin
        = image_tag '/assets/noimage.png', alt: 'プロフィール画像', size: '450x450', class: 'uk-border-circle'
      .user_nickname.uk-margin
        = link_to @item.user.nickname, user_path(@item.user_id), class: 'uk-text-normal'
      .uk-margin
        - unless @item.user_id == current_user.id
          - if @is_room == true
            = link_to 'メッセージを送る', room_path(@room_id), class: "message_btn"
          - else
            = form_with model: @room, url: rooms_path, local: true do |f|
              = fields_for @entry do |e|
                = e.hidden_field :user_id, value: @item.user_id
                = f.submit 'メッセージを送る', class: "message_btn"
