%h2 出品詳細ページ

-#stockボタン
%div{:id => "item-#{@item.id}"}
  = render partial: 'stocks/stock_btn', locals: { item: @item }

  -# twitterシェア
= link_to "https://twitter.com/intent/tweet?url=#{request.url}/&hashtags=宿題代行", title: 'Twitter', target: 'blank' do
  = fa_icon 'twitter'

= link_to 'カードで購入する', purchase_items_path(@item)