!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webapp
    = csrf_meta_tags
    = csp_meta_tag
    / UIkit CSS
    %link{:href => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://code.jquery.com/jquery-3.0.0.min.js"}
  %body
    %header
      .uk-navbar-container.tm-navbar-container.uk-sticky{"uk-sticky" => "media: 960"}
        .uk-container.uk-container-expand
          %nav.uk-navbar
            .uk-navbar-left
              %a.uk-navbar-item.uk-logo
                = link_to  "タイトル", root_path
            .uk-navbar-right
              %ul.uk-navbar-nav{:class => "uk-visible@m"}
                %li
                  = link_to  "ユーザー登録", signup_path, class: "uk-active"
                %li.uk-active
                  = link_to  "ログイン", login_path
                %li
                  %a{:href => "#"} Webappとは？
              .uk-navbar-item{:class => "uk-visible@m"}
                %a.uk-button.uk-button-default.tm-button-default.uk-icon{:href => "#"}
                  ログイン
              %a.uk-navbar-toggle.uk-icon.uk-navbar-toggle-icon{:class => "uk-hidden@m", :href => "#offcanvas", "uk-navbar-toggle-icon" => "", "uk-toggle" => ""}


    - flash.each do |message_type, message|
      = message
    = yield
    / /uk-container
    = debug(params) if Rails.env.development?
    / UIkit JS
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"}
