!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Webapp
    = csrf_meta_tags
    = csp_meta_tag
    / UIkit CSS
    %link{:href => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/css/uikit.min.css", :rel => "stylesheet"}/
    // syntax highlight
    %link{:href => "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/github.min.css", :rel => "stylesheet"}/
    / Marked.js
    %script{:src => "https://cdn.jsdelivr.net/npm/marked/marked.min.js"}
    / jQuery
    %script{:src => "https://code.jquery.com/jquery-3.0.0.min.js"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .uk-navbar-container.tm-navbar-container
        .uk-container.uk-container-center
          %nav.uk-navbar.uk-text-light
            .uk-navbar-left
              %a.uk-navbar-item
                = link_to  "プロつく！", root_path, class: 'uk-logo'
            .uk-navbar-right
              %ul.uk-navbar-nav{:class => "uk-visible@m"}
                .uk-navbar-item
                  .uk-input.uk-form-width-medium
                - if logged_in?
                  .uk-navbar-item
                    %li.uk-active
                      = link_to  "投稿一覧", items_path
                  .uk-navbar-item
                    %li
                      = link_to  "仲間を募る", new_item_path, class: "uk-button uk-button-primary uk-border-rounded uk-text-bold"
                  .uk-navbar-item
                    .header_nav_btn
                      - if current_user.avatar.attached?
                        = image_tag current_user.avatar, alt: 'プロフィール画像',class: 'header_user_image uk-border-circle'
                      - else
                        = image_tag '/assets/noimage.png', alt: 'プロフィール画像', class: 'header_user_image uk-border-circle'
                    %span.fa-caret-down
                    %div{"uk-dropdown" => "mode: click"}
                      %ul.uk-nav.uk-dropdown-nav
                        %li
                          = link_to 'マイページ', user_path(current_user)
                        %li
                          = link_to 'プロフィール設定', edit_user_path(current_user)
                        %li
                          %a{:href => "#"} メッセージ管理
                        %li.uk-nav-divider
                        %li
                          = link_to 'ログアウト', logout_path, method: :delete


                -else
                  .uk-navbar-item
                    %li
                      = link_to  "hogehoge", '#'
                  .uk-navbar-item
                    %li.uk-active
                      = link_to  "foobar", '#'
                  .uk-navbar-item
                    %li
                      = link_to  "ユーザー登録", signup_path, class: "uk-button uk-button-primary uk-border-rounded uk-text-bold"
                  .uk-navbar-item
                    %li.uk-active
                      = link_to  "ログイン", login_path, class: "uk-button uk-button-default uk-border-rounded uk-text-bold"
              %a.uk-navbar-toggle.uk-icon.uk-navbar-toggle-icon{:class => "uk-hidden@m", :href => "#offcanvas", "uk-navbar-toggle-icon" => "", "uk-toggle" => ""}
      %hr/
    - flash.each do |message_type, message|
      %div{class: "uk-alert-#{message_type}"}
        = message
    = yield
    %footer.uk-margin-top
      .uk-container.uk-flex.uk-flex-between.uk-flex-center
        .uk-section-small.uk-flex-column
          %h2.uk-heading-hero タイトル
          %p
            テキストテキストテキストテキスト
        .uk-section.uk-flex-column
          .uk-flex
            %ul
              %li
                テキスト
              %li
                テキスト
              %li
                テキスト
              %li
                テキスト
            %ul
              %li
                テキスト
              %li
                テキスト
              %li
                テキスト
              %li
                テキスト

    = debug(params) if Rails.env.development?
    / UIkit JS
    // syntax highlight
    %script{:src => "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"}
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit.min.js"}
    %script{:src => "https://cdn.jsdelivr.net/npm/uikit@3.5.4/dist/js/uikit-icons.min.js"}
